<div class="container">
    <h1>Add User</h1>
    <form #form="ngForm" (ngSubmit)="addUser()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addUserRequest.name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addUserRequest.email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="addUserRequest.phone">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" [(ngModel)]="addUserRequest.location">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>